*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family:'Times New Roman', Times, serif;
}
div{
    color: #6e3d13;
    font-style: italic;
    text-align: right;
    font-size: 30px;
    margin-top: 60px;
    margin-right: 100px;
}
nav{
    background: #6e3d13;
    height: 800%;
    width: 100%;
}
label.title{
    color: white;
    font-size: 45px;
    line-height: 80px;
    padding: 0 100px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 22px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
body{
    background-color: #f6c046db;
}
a:hover{
    color: black;
}
input{
    height: 25px;
    border-radius: 3px;
    border: 2px solid black;
    font-size: 15px;
}
#btn{
    text-align: center;
    background-color:black;
    color: white;
    font-size: 15px;
}
#btn:hover{
    background-color: #6e3d13;
}
form{
    text-align: center;
    margin-top: 40px;
    margin-left: 560px;
}
table{
    font-size: 25px;
}
#st{
    color: #6e3d13;
    text-align: left;
}
#sst{
    font-size: 20px;
    text-align: right;
    padding-left: 50px;
}
#sst1{
    padding-left: 150px;
}
span{
    color: red;
    font-size: 15px;
}
h1{
    color: #6e3d13;
    text-align: left;
    margin-top: 30px;
    margin-left: 40px;
}